/*CSS reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Utils*/

:root {
    --display: 1012px;
    --clmn-gap: 30px;
    --clmn-n: 3;
    --padding-container: 15px
}

.container {
    max-width: var(--display);
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.grayfont {
    color: rgb(74, 73, 73);
}

.whitefont {
    color: white;
}

.description {
    font-size: 0.9rem;
}

/*General*/

/*--------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}


.actions {
    flex-wrap: wrap;
    flex-shrink: 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
}


.monthly, .yearly {
    width: 28px;
    height: 18px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

/*Pallino bottone*/
.bi-toggle-on {
    font-size: 26px;
    position: absolute;
    top: 0;
    translate: -50% -20%;
}

.yearly:hover,
.monthly:hover {
    cursor: pointer;
}

.yearly:focus {
    transform: scaleX(-1);
    filter: invert(100%);
    outline: 2px solid white;
    outline-offset: -2px;
}

.monthly:focus {
    transform: scaleX(-1);
    filter: invert(100%);
    outline: 2px solid white;
    outline-offset: -2px;
}


.monthly {
    margin-right: 5px;
}

/*Cards*/

.cards {
    display: flex;
    gap: var(--clmn-gap);
    flex-wrap: wrap;
    
}

.card {
    border-radius: 20px;
    box-shadow: 1px 12px 11px 0px #888888;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 30px 30px;
    flex-basis: calc(((var(--display) - var(--padding-container) * 2) / var(--clmn-n)) - (((var(--clmn-n) - 1) * var(--clmn-gap)) / var(--clmn-n)));
}

.price {
    margin-top: 20px;
    text-align: center;
}

.dollar, .prezzo {
    font-weight: 900;
}

.prezzo {
    font-size: 3rem;
}

.percentage {
    margin-top: 10px;
    background-color: rgb(224, 222, 222);
    border-style: none;
    border-radius: 6px;
    padding: 4px 8px;
}

.recommended {
    background-color: blueviolet;
    color: white;
}

.purple-b {
    background-color: blueviolet;
    color: white;
}

.white-b {
    background-color: white;
    color: blueviolet;
}

.choose-plan {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 20px 0;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    font-weight: 600;
}

.choose-plan:hover {
    transform: translate(0, -3%);
    transition: all 0.3s ease;
    cursor: pointer;
}

ul {
    display: flex;
    column-gap: 300px;
    flex-wrap: wrap;
    padding-left: 5%;
}


li {
    flex-shrink: 0;
    flex-grow: 1;
    list-style: none;
    padding: 10px 0;
    font-size: 1.1rem;
    flex-basis: 320px;
}


